<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='index.css')}}" >
</head>
<body>
    <div>
        <h1>Email Verification</h1>
        <h2>Welcome to Our Email Verification Tool!</h2>
        <hr>
        <p>With the influx of information we receive daily, it can be challenging to determine its accuracy.</p>
        <p>That's where we come in! Our website is here to help you verify the validity of unknown emails EFFORTLESSLY!</p>
        <p>Simply enter your email address and hit submit. WITHIN SECONDS, you'll receive confirmation of the email's validity. It's that easy!</p>
        <br>
        <form action="/datas", method="post">
            <input type="text" placeholder="Please enter the email address you want to test..." name="email"><br><br><br>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>